---
layout: default
---
<div id="main">
    <header>
      <h1>{{ site.data.inicio.titulo }}</h1>
      <section>
        <img src="/images/fulls/03.jpg" class="fit image">
        <div class="6u 12u(small)">
          <h3>Matérias:</h3>
          <ul>
            {% for materia in site.data.inicio.materias %}
              <li>{{materia}}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="6u$ 12u(small)">
          <h3>Turmas:</h3>
          <ul>
            {% for turma in site.data.inicio.turmas %}
              <li>{{turma}}</li>
            {% endfor %}
          </ul>
        </div>
        <h3>Regiões do Rio de Janeiro:</h3>
        <ul>
          {% for regiao in site.data.inicio.regioes %}
            <li>
              <strong>{{ regiao.nome }}: </strong>
              {{ regiao.descricao }}
            </li>
          {% endfor %}
        </ul>

      </section>
    </header>
  <section>
    {% for post in site.posts limit:1 %}
      <header>
        <h1>{{ post.title }}</h1>
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>
      <section>
        {{ post.content }}
      </section>
    {% endfor %}
  </section>

  <section>
    <div class="row">
      {% for post in site.posts offset:1 %}
        <article class="{% cycle '6u', '6u$' %} 12u(small)">
          <header>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          </header>
          <section>
            {{ post.excerpt }}
          </section>
          <footer>
            <ul class="actions">
              <li><a href="{{ post.url }}" class="button">Read More</a></li>
            </ul>
          </footer>
        </article>
      {% endfor %}
    </div>
  </section>
</div>
